<!doctypeHTML>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>LogxControll - gate skeleton generator</title>
			<style>
				h2
				{
					font-size:14px;
				}
				
			</style>
		</head>

<!-- We have to be very busy, before we can get lazy - Gáti Attila -->

<!-- 
	TODO section:
		if a variable stored, generate storage code snippet at the end of the execution logic 

		code snippet generator for execution logic:
			- release stored variables on disable
			- read-verify-(return or absorb) - execute - store method

 -->

		<body>
<div id="skel_main" style="display:none">
$declare$

static int $unit$_libop
(
	enum library_operation op,
	const char** errors,
	int max_length
);

static struct lxc_generic_$proto$_behavior $unit$_behavior =
{
	.base.library_operation = $unit$_libop,
};

struct $unit$_instance
{
	struct lxc_generic_$instance$_instance base;
$instance_variables$};

$CODEGEN$

static void $unit$_execute
(
	Gate instance,
	Signal type,
	LxcValue value,
	uint index
)
{
$GATE_CAST$
$SYSTEM_EVENTS$	

	//TODO read all variable

	//TODO do core execution logic

$TODO_AFTER_EXEC$
}

static int $unit$_libop
(
	enum library_operation op,
	const char** errors,
	int max_length
)
{
	if(library_before_load == op)
	{
		lxc_init_from_prototype
		(
			(void*)	&$unit$_behavior,
			sizeof	($unit$_behavior),

			(void*)	&lxc_generic_$proto$_prototype,
			sizeof	(lxc_generic_$proto$_prototype)
		);

		$unit$_behavior$base_lvl$.library_operation = $unit$_libop;
		$unit$_behavior$base_lvl$.gate_name = "$gate_label$";
		$unit$_behavior$base_lvl$.paths = ;//TODO path string

		$unit$_behavior$base_lvl-1$.instance_memory_size =
			sizeof(struct $unit$_instance);

		$unit$_behavior$base_lvl$.execute = $unit$_execute;
		
		lxc_port_init_port_manager_factory(&($unit$_behavior$base_lvl-1$.input_ports));
		lxc_port_init_port_manager_factory(&($unit$_behavior$base_lvl-1$.output_ports));

$behavior_init$
	}
	return 0;
}


void* produce_$unit$()
{
	return (void*) &$unit$_behavior;
}
</div>

<div id="library_path_unit" style="display:none">
	TODO


</div>

<div id="property_prototype" style="display:none">
	<div>
		Variable name:<input class="varname"/>
		Variable type:<input class="vartype"/>
		Label: <input class="label"/>
		Description:<input class="description"/>
		Default value: <input class="default_value"/>
		<button onclick="this.parentNode.remove();render()">-</button>
	</div>
</div>

<div id="signals_select_skel" style="display:none">
	<select class="signal hook">
		<option value="choose one">--- Choose one ---</option>
		<option value="pulse">Pulse (AKA trigger execution logic)</option>
		<option value="bool">Boolean</option>
		<option value="byte">byte (AKA sint_8)</option>
		<option value="short">short (AKA sint_16)</option>
		<option value="int">integer (AKA sint_32)</option>
		<option value="long">long (AKA sint_64)</option>
		<option value="float">float</option>
		<option value="double">double</option>
		<option value="string">string (AKA null terminated c string)</option>
		<option value="data">data (AKA memory space, char* with size)</option>
		<option value="custom">CUSTOM</option>
	</select>
</div>

<div id="port_prototype" style="display:none">
	<div>
		Portname: <input class="portname hook"/>&nbsp;&nbsp;&nbsp;
		<span class="choose_me">Store variable:</span> <input type="checkbox" class="store" onchange="ch_show(this, 1, 'on_store')"/>&nbsp;&nbsp;&nbsp;
		<div class="on_store" style="display:none">
			Variable name: <input class="varname hook"/>&nbsp;&nbsp;&nbsp;
			Republish: <input type="checkbox" class="republish hook"/>&nbsp;&nbsp;&nbsp;
			Demanding: <input type="checkbox" class="demanding hook"/>&nbsp;&nbsp;&nbsp;
		</div>
		<button onclick="this.parentNode.remove();render()">-</button>
	</div>
</div>

	<h1>Gate skeleton generator</h1>

	Gate label:<input id="gate_label" class="hook"/>
	<br/>
	<br/>
	Superclass:<select id="proto">
		<option value="">Choose one</option>
		<option value="portb">Ports in behavior</option>
		<option value="portb_propb">Ports in behavior with properties</option>
		<option value="porti">Ports in gate</option>
		<option value="porti_propb">Ports in gate with properties</option>
	</select>

	<br/>
	<br/>

	<!-- TODO library path -->
	<div id="lib_path">
		<ul>
			<li>
				<input type="radio" name="libpath" onclick="show_my_li_group()" id="libpath_libvar"><label for="libpath_libvar">Library variable</label>
			</li>

			<li>
				<input type="radio" name="libpath" onclick="show_my_li_group()" id="libpath_custom"><label for="libpath_custom">Custom path</label>
				<div id="custom_path_box">
				</div>
			</li>
		
		</ul>
	</div>

	<br/>
	<br/>
	Accept enable/disable events: <input type="checkbox" class="hook" id="enable_disable"/>
	<br/>
	<br/>

	<div class="inb" style="display:none">
		Input ports:<br/>
		<div id="ins">
		</div>
		<button onclick="create_io(true)">+</button>
	
		<br/>
		<br/>
	
		Output ports:<br/>
		<div id="outs">
		</div>
		<button onclick="create_io(false)">+</button>
	</div>	
	<br/>
	<br/>
	<br/>
	
	<!-- list of properties -->
	<div class="has_prop" style="display:none">
		Properties:<br/>
		<div id="props">
		</div>
		<button onclick="create_prop()">+</button>
	</div>
	
	
	<pre style="color:red" id="errors"></pre>
	<br/>
	<br/>
	Output:<br/>
	<textarea cols="100" rows="100" id="output">
	</textarea>

				<script>
					//THX http://stackoverflow.com/questions/18391212/is-it-not-possible-to-stringify-an-error-using-json-stringify
					if (!('toJSON' in Error.prototype))
					Object.defineProperty(Error.prototype, 'toJSON', {
					    value: function () {
					        var alt = {};

					        Object.getOwnPropertyNames(this).forEach(function (key) {
					            alt[key] = this[key];
					        }, this);

					        return alt;
					    },
					    configurable: true,
					    writable: true
					});
					
					window.is_valuable = function(v)
					{
						return null != v && undefined != v;
					}
					
					window.ch_show = function(current, lvl, dst)
					{
						var tar = current;
						for(var i=0;i<lvl;++i)
						{
							if(is_valuable(tar))
							{
								tar = tar.parentNode;
							}
							else
							{
								break;
							}
						}
						
						if(is_valuable(tar))
						{
							tar = tar.getElementsByClassName(dst);
							if(is_valuable(dst) && tar.length > 0)
							{
								tar = tar[0];
								tar.style.display = current.checked?"inline-block":"none";
							}
						}
					}
				
					function import_var(varname)
					{
						window[varname] = document.getElementById(varname);
					}
					
					import_var("errors");
					
					import_var("gate_label");
					import_var("skel_main");
					import_var("output");
					import_var("proto");
					import_var("enable_disable");
					
					window.onEach = function(e, f)
					{
						for(var i=0;i<e.length;++i)
						{
							f(e[i]);
						}
					}
					
					window.show_my_li_group = function()
					{
						
						
						
					}
					
					//if "superclass" modified
					proto.onchange = function()
					{
						var show = proto.value.indexOf("portb") >= 0;
						onEach
						(
							document.getElementsByClassName("inb"),
							function(e)
							{
								e.style.display = show?"inline-block":"none";
							}
						);
						
						show = proto.value.indexOf("propb") >= 0;
						onEach
						(
							document.getElementsByClassName("has_prop"),
							function(e)
							{
								e.style.display = show?"inline-block":"none";
							}
						);
						
						render();
					}
					
					function parseHTML(val)
					{
						var div = document.createElement('div');
						div.innerHTML = val;
						var elements = div.childNodes[0];
					}
					
					/**
					 * Clones the element inside of tag identifiyed by the given id.
					 */
					function clone_of(id)
					{
						var elem = document.getElementById(id);
						return elem.children[0].cloneNode(true);
					}
					
					function check_c_variable_name(name)
					{
						return name.match(/^[_a-z]\w*$/);
					}
					
					function replace_skel_var(template, variable, value)
					{
						return template.replace(new RegExp("\\$"+variable+"\\$", "g"), value);
					}
					
					function eval_all_by_class(cls)
					{
						var sel = document.getElementsByClassName(cls);
						var ret = [];
						for(var i=0;i<sel.length;++i)
						{
							ret[i] = sel[i].eval();
						}
						return ret;
					}
					
					function check_and_add_name(store, varname, loc)
					{
						if(!check_c_variable_name(varname))
						{
							throw "Not a legal variable name: "+varname+" ("+loc+")";
						}
						
						for(var i =0;i<store.length;++i)
						{
							if(varname == store[i][0])
							{
								throw "Name collision: "+varname+" "+loc+" and "+store[i][1];
							}
						}
						
						store.push([varname, loc]);
					}
					
					function variablify(str)
					{
						str = str.toUpperCase();
						str = str.replace(/ /g,"_")
						return str;
					}
					
					
					function render(e)
					{
						//console.log(arguments);
						if
						(
								undefined == e 
							|| 
								undefined == e.explicitOriginalTarget 
							||
								!e.explicitOriginalTarget.classList.contains("hook")
						)
						{
							return;
						}
						//e.preventDefault();
						try
						{
							output.innerHTML = "";
							errors.innerHTML = "";
							
							var skel = skel_main.innerHTML;
							
							var module_vars = []; //variables must be unique
							var instance_vars = [];//instance variables -||-
							
							var decl_pns = [];	//port labels -||-
							
							var BEFORE_EXEC = "";
							
							var CODEGEN = "";
							
							var TODO_AFTER_EXEC = "";
							
							var instance_variables = "";
							
							{
								//todo check online: is the name of the gate is already registered 
								skel = replace_skel_var(skel, "gate_label", gate_label.value);
							}
							
							var gate_varname = variablify(gate_label.value).toLowerCase();
							
							{
								skel = replace_skel_var(skel, "unit", gate_varname);
							}
							
							
							{
								if(proto.value.length == 0)
								{
									throw "Choose the \"superclass\" of the gate";
								}
								skel = replace_skel_var(skel, "proto", proto.value);
							}
							
							var has_properties = proto.value.indexOf("propb") >= 0;
							
							if(has_properties)
							{
								skel = replace_skel_var(skel, "base_lvl", ".base.base");
								skel = replace_skel_var(skel, "base_lvl-1", ".base");
							}
							else
							{
								skel = replace_skel_var(skel, "base_lvl", ".base");
								skel = replace_skel_var(skel, "base_lvl-1", "");
							}
							
							var GATE_CAST = "	struct "+gate_varname+"_instance* gate =\n"+
											"		(struct "+gate_varname+"_instance*) instance;\n";
							
							//TODO if gate stores the port information in instance,
							//ports can be added in at creation time, but then we
							//need to create a little bit different code
							if(has_properties)
							{
								//be careful, variable is declared here
								//and portgen actually use inside code generator function
								//but also used after the 
								var behavior_init = "";
								
								var republish = [];
								
								function portgen(in_out, ps)
								{
									for(var i=0;i<ps.length;++i)
									{
										var dat = ps[i];
										check_and_add_name(decl_pns, dat.portname, (in_out?"Input":"Output")+" port (label:"+dat.portname+")");
										
										var signal = dat.signal;
										if(signal == "choose one")
										{
											throw "Specify the signal type of the "+(in_out?"in":"out")+"put port ("+dat.portname+")";
										}
										else if(signal == "custom")
										{
											signal = "//TODO insert your signal type here";
										}
										else
										{
											signal = "&lxc_signal_"+signal+"";
										}
										
										var vn = variablify(dat.portname);
										
										behavior_init +=
										"		"+(in_out?"IN_ABS_":"OUT_ABS_")+vn+" = lxc_port_unchecked_add_new_port\n"+
										"		(\n"+
										"			&("+gate_varname+"_behavior.base.output_ports),\n"+
										"			\""+dat.portname+"\",\n"+
										"			"+signal+",\n"+
										"			0,\n"+
										"			&"+(in_out?"IN_":"OUT_")+vn+"\n"+
										"		);\n"+
										"		\n";
										
										module_vars.push((in_out?"IN_ABS_":"OUT_ABS_")+vn);
										module_vars.push((in_out?"IN_":"OUT_")+vn);
										
										if(in_out == false)
										{
											if(JSON.parse(dat.republish) == true)
											{
												if(JSON.parse(dat.store) == false)
												{
													throw "Republishing variable requires value to be stored";
												}
											
												check_and_add_name(instance_vars, dat.varname, dat.varname+" stored instance variable");
												instance_variables += "	LxcValue "+dat.varname+";\n";
												TODO_AFTER_EXEC += "	//TODO store variable `"+dat.varname+"`: lxc_import_new_value(_, gate->"+dat.varname+")\n";
												
												republish.push(["OUT_ABS_"+vn, dat.varname]);
											}
										}
									}
								}
								
								//inputs
								var ins = eval_all_by_class("in_port");
								var outs = eval_all_by_class("out_port");
								
								portgen(true, ins);
								portgen(false, outs);
								
								//this must be executed after all portgen call
								if(republish.length > 0)
								{
									CODEGEN +=	"static LxcValue* access_internal_variable(Gate instance, int index)\n"+
												"{\n"+
												GATE_CAST+"\n";
												
									for(var i=0;i<republish.length;++i)
									{
										CODEGEN += "	";
										
										if(i != 0)
										{
											CODEGEN += "else ";
										}
										
										CODEGEN += 	"if(index == "+republish[i][0]+")\n"+
													"	{\n"+
													"		return &(gate->"+republish[i][1]+");\n"+
													"	}\n";
									}
												
									CODEGEN += "	return NULL;\n}\n\n";
								}
								
								if(has_properties)
								{
									var props = document.getElementsByClassName("lxc_property");
									
									if(props.length > 0)
									{
										behavior_init += 
											"		"+gate_varname+"_behavior.properties.access_property =\n"+
											"			"+gate_varname+"_access_property;\n\n";
										
										CODEGEN +=	"static void* "+gate_varname+"_access_property(Gate instance, const char* name)\n"+
													"{\n"+
													GATE_CAST+"\n";
													
										var validations = "";
										
										for(var i=0;i<props.length;++i)
										{
											var prop = props[i];
											var info = prop.eval();
											
											check_and_add_name(instance_vars, info.varname, info.varname+" property variable");
											
											if(!check_c_variable_name(info.vartype))
											{
												throw info.vartype+" property variable type is not a legal typename";
											}
											
											CODEGEN += "	";
											
											if(0 != i)
											{
												CODEGEN += "else ";
											}

											CODEGEN += 	"if(0 == strcmp(name, \""+info.varname+"\"))\n"+
														"	{\n"+
														"		return &(gate->"+info.varname+");\n"+
														"	}\n";
											
											instance_variables += "	"+info.vartype+" "+info.varname+";\n";
											
										/*	struct lxc_property_manager* mngr,
											const char* name,
											const char* label,
											const char* description,
											const char* default_value,
											int (*property_validator)(Gate instance, bool direction, vo*/
											
											behavior_init += 
											"		lxc_add_property\n"+
											"		(\n"+
											"			&("+gate_varname+"_behavior.properties),\n"+
											"			"+JSON.stringify(info.varname)+",\n"+
											"			"+JSON.stringify(info.label)+",\n"+
											"			"+JSON.stringify(info.description)+",\n"+
											"			"+JSON.stringify(info.default_value)+",\n"+
											"			"+info.varname+"_validation\n"+
											"		);\n\n";
											;
											
											validations +=	"static int "+info.varname+"_validation\n"+
															"(\n"+
															"	Gate instance,\n"+
															"	bool direction,\n"+
															"	"+info.vartype+"* "+info.varname+", /*variable's address in instance*/\n"+
															"	const char* name,\n"+
															"	const char* value,\n"+
															"	char* ret,\n"+
															"	int max_length\n"+
															")\n"+
															"{\n"+
															"	if(DIRECTION_IN == direction)\n"+
															"	{\n"+
															"		//TODO validate and set value if valid or return status code(lxc_errno or standard ERRNO)\n"+
															"		return 0;\n"+
															"	}\n"+
															"	else\n"+
															"	{\n"+
															"		//TODO render the value to string\n"+
															"		return 0;\n"+
															"	}\n"+
															"}\n\n"
										}
										CODEGEN += "	return NULL;\n}\n\n";
										
										CODEGEN += validations;
									}
								}
								
								//TODO enable disable, any republish
								var SYSTEM_EVENTS =
									"	if(type == &lxc_signal_system)\n"+
									"	{\n";
								
								if(enable_disable.checked || republish.length > 0)
								{
									var sys_index = 0;
									
									//it's a good habit if you always check
									//what kind of signal is triggered the execution logic
									//execute the logic only on the right signal type
									SYSTEM_EVENTS +=
									"		struct lxc_system_event* sys =\n"+
									"			(struct lxc_system_event*) lxc_get_value(value);\n"+
									"\n"+
									"		enum lxc_system_event_type type = sys->event_type;\n\n";
									
									if(enable_disable.checked)
									{
										SYSTEM_EVENTS +=
										"		if\n"+
										"		(\n"+
										"			system_event_gate_enabled == type\n"+
										"		||\n"+
										"			system_event_gate_disabled == type\n"+
										"		)\n"+
										"		{\n"+
										"			"+gate_varname+"_enable_disable(gate,type);\n"+
										"			return;\n"+
										"		}\n";
										
										CODEGEN +=
										"static void "+gate_varname+"_enable_disable\n"+
										"(\n"+
										"	struct "+gate_varname+"_instance* gate,\n"+
										"	enum lxc_system_event_type type\n"+
										")\n"+
										"{\n"+
										"	//TODO operations when gate enabled/disabled\n"+
										"}\n\n";
										
										
										++sys_index;
									}
									
									if(republish.length > 0)
									{
										SYSTEM_EVENTS += "		"
											if(sys_index > 0)
											{
												SYSTEM_EVENTS += "else ";
											}
											
											SYSTEM_EVENTS +=
											"if(system_event_output_wire_added == type)\n"+
											"		{\n"+
											"			lxc_portb_republish_internal_value\n"+
											"			(\n"+
											"				instance,\n"+
											"				sys->signal,\n"+
											"				sys->index,\n"+
											"				access_internal_variable\n"+
											"			);\n"+
											"			return;\n"+
											"		}\n";
									}
									
									
									SYSTEM_EVENTS += "		return;\n	}\n\n";
								}
								
								skel = replace_skel_var(skel, "behavior_init", behavior_init);
								
								var decl = "";
								for(var i =0;i<module_vars.length;++i)
								{
									decl += "int "+module_vars[i]+";\n";
								}
								//TODO variables
								skel = replace_skel_var(skel, "declare", decl);
								
								skel = replace_skel_var(skel, "instance", proto.value.indexOf("portb") >= 0? "portb":"propb");
								
								skel = replace_skel_var(skel, "instance_variables", instance_variables);
								skel = replace_skel_var(skel, "CODEGEN", CODEGEN);
								skel = replace_skel_var(skel, "TODO_AFTER_EXEC", TODO_AFTER_EXEC);
								skel = replace_skel_var(skel, "BEFORE_EXEC", BEFORE_EXEC);
								skel = replace_skel_var(skel, "GATE_CAST", GATE_CAST);
								skel = replace_skel_var(skel, "SYSTEM_EVENTS", SYSTEM_EVENTS);
							}
							//props
							
							output.innerHTML = skel;
						}
						catch(e)
						{
							window.e = e;
							console.log(e);
							errors.innerHTML = JSON.stringify(e, null, 2);
							return;
						}
					}
					
					function hook(elem, func)
					{
						elem.onchange = func;
						elem.oninput = func;
					}
					
					document.getElementsByTagName("body")[0].addEventListener('click', render);
					document.getElementsByTagName("body")[0].addEventListener('change', render);
					//document.getElementsByTagName("body")[0].addEventListener('oninput', render);
					
					var mods = document.getElementsByClassName("hook");
					
					for(var i=0;i<mods.length;++i)
					{
						hook(mods[i], render);
					}
					
					function find_first_class(elem, cls)
					{
						var re = elem.getElementsByClassName(cls);
						if(is_valuable(re) && re.length > 0)
						{
							return re[0];
						}
						
						return null;
					}
					
					function attr_of_fist_found_by_class(elem, cls, attr)
					{
						var elem = find_first_class(elem, cls);
						if(is_valuable(elem))
						{
							return elem[attr];
						}
						return null;
					}
					
					//name, signal_type, (store[true]: variable_name, republish, demanding)
					window.create_io = function(in_out)//TODO store internal, TODO republish, TODO demanding
					{
						var elem = clone_of("port_prototype");
						elem.classList.add(in_out?"in_port":"out_port");
						
						elem.insertBefore(clone_of("signals_select_skel"), elem.getElementsByClassName("portname")[0].nextSibling);
						
						if(in_out)
						{
							elem.getElementsByClassName("store")[0].remove();
							elem.getElementsByClassName("on_store")[0].remove()
							elem.getElementsByClassName("choose_me")[0].remove()
						}
						
						elem.eval = function()//returns with the parsed port data 
						{
							var ret = {};
							ret["portname"] =	attr_of_fist_found_by_class(elem, "portname", "value");
							ret["signal"] =		attr_of_fist_found_by_class(elem, "signal", "value");
							ret["store"] =		attr_of_fist_found_by_class(elem, "store", "checked");
							ret["varname"] =	attr_of_fist_found_by_class(elem, "varname", "value");
							ret["republish"] =	attr_of_fist_found_by_class(elem, "store", "checked");
							ret["demanding"] =	attr_of_fist_found_by_class(elem, "demanding", "checked");
							return ret;
						}
						
						document.getElementById(in_out?"ins":"outs").appendChild(elem);
					}
					
					function create_prop()
					{
						var elem = clone_of("property_prototype");
						
						elem.classList.add("lxc_property");
						
						elem.eval = function()
						{
							var ret = {};
							ret["varname"] = attr_of_fist_found_by_class(elem, "varname", "value");
							ret["vartype"] = attr_of_fist_found_by_class(elem, "vartype", "value");
							ret["label"] = attr_of_fist_found_by_class(elem, "label", "value");
							ret["description"] = attr_of_fist_found_by_class(elem, "description", "value");
							ret["default_value"] = attr_of_fist_found_by_class(elem, "default_value", "value");
							return ret;
						}
						
						document.getElementById("props").appendChild(elem);
					}
					
				</script>
		</body>
	</html>
